<app-admin-header></app-admin-header>
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">Team Members</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="admin/dashboard">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">Team Members
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-body">
            <section id="all-transactions">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Members</h4>
                            </div>
                            <div class="card-content mt-1">
                                <div class="m-3 p-2 border">
                                    @if(message){
                                        <div [class]="displayType == 'success'?'alert alert-success alert-dismissible fade show': 'alert alert-danger alert-dismissible fade show'"
                                            role="alert">
                                            {{ message }}.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        }
                                    <form [formGroup]="form" (ngSubmit)="send()">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group mb-2">
                                                    <label for="companyName">Full Name</label>
                                                    <input formControlName="fullname" type="text" id="companyName"
                                                        class="form-control" placeholder="Full Name">
                                                    <small class="text-danger"
                                                        *ngIf="!form.controls['fullname'].valid && submitAttempt">Please
                                                        enter a valid
                                                        name</small>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-group mb-2">
                                                    <label for="companyName">Email</label>
                                                    <input formControlName="email" type="email" id="companyName"
                                                        class="form-control" placeholder="example@gmail.com">
                                                    <small class="text-danger"
                                                        *ngIf="!form.controls['email'].valid && submitAttempt">Please
                                                        enter a valid
                                                        email</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group mb-2">
                                                    <label for="companyName">Password</label>
                                                    <input formControlName="password" type="password" id="companyName"
                                                        class="form-control" placeholder="Password">
                                                    <small class="text-danger"
                                                        *ngIf="!form.controls['password'].valid && submitAttempt">Please
                                                        enter a valid
                                                        password</small>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group mb-2">
                                                    <label for="companyName">Confirm Password</label>
                                                    <input formControlName="confirmpassword" type="password"
                                                        id="companyName" class="form-control"
                                                        placeholder="Confirm Password">
                                                    <small class="text-danger"
                                                        *ngIf="!form.controls['confirmpassword'].valid && submitAttempt">Please
                                                        confirm password</small>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-actions">
                                            <app-submit-button title="Save User" [busy]="busy"></app-submit-button>
                                        </div>

                                    </form>
                                </div>
                                <div class="table-responsive">
                                    <table id="crypto-transaction" class="table table-hover table-xl trans-wrapper">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">ID</th>
                                                <th class="border-top-0">Full Name</th>
                                                <th class="border-top-0">Email</th>
                                                <th class="border-top-0">Created_at</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let members of teamMembers | paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: teamMembers.length};">
                                                <td>
                                                    <div class="Trans-id">{{ members?.id }}</div>
                                                </td>
                                                <td>
                                                    <div class="">{{ members?.fullname }}</div>
                                                </td>
                                                <td>
                                                    <div class="amount">
                                                        {{ members?.email }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="amount">
                                                        {{ members?.created_at }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex">
                                                        <button class="btn btn-outline-primary btn-sm" (click)="deleteMember(members?.id)"><i
                                                                class="fa fa-trash"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div *ngIf="teamMembers && teamMembers.length">
                                            <pagination-controls
                                                (pageChange)="handlePageChange($event)"></pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->