<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
  rel="stylesheet">

<link href="/assets/web/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/web/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/assets/web/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="/assets/web/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/assets/web/assets/vendor/aos/aos.css" rel="stylesheet">

<link href="/assets/web/assets/css/variables.css" rel="stylesheet">
<link href="/assets/web/assets/css/main.css" rel="stylesheet">

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="/assets/web/assets/img/logo.png" alt=""> -->
      <h1>ClintBlog</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <!-- <li class="dropdown"><a href="news"><span>Blog</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li (click)="navigateWithCategory('all')"><a class="text-capitalize">All</a></li>
            @for(category of categories; track category.title){
              <li (click)="navigateWithCategory(category.title)"><a class="text-capitalize">{{ category?.title }}</a></li>
            }@empty {
              <li><a class="text-capitalize">Entertainment</a></li>
            }
          </ul>
        </li> -->
        <li class="dropdown"><a href="news"><span>Blog</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="/news/all" class="text-capitalize">All</a></li>
            @for(category of categories; track category.title){
            <li><a [href]="'/news/' + category?.title" class="text-capitalize">{{ category?.title }}</a></li>
            }@empty {
            <li><a class="text-capitalize">Entertainment</a></li>
            }
          </ul>
        </li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->

    <div class="position-relative">
      <a class="mx-2"><span class="bi-facebook"></span></a>
      <a class="mx-2"><span class="bi-twitter"></span></a>
      <a class="mx-2"><span class="bi-instagram"></span></a>

      <ng-container *ngIf="displaySearchBox()">
        <a (click)="showSearchBox()" *ngIf="!isSearchActive" class="mx-2 js-search-open"><span
            class="bi-search"></span></a>
      </ng-container>

      <i class="bi bi-list mobile-nav-toggle"></i>

      <!-- ======= Search Form ======= -->
      <ng-container *ngIf="displaySearchBox()">
        <div class="search-form-wrap  active js-search-form-wrap" *ngIf="isSearchActive">
          <form class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" (input)="onInputChange($event)" name="search" placeholder="Search" class="form-control">
            <button (click)="hideSearchBox()" class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div>
      </ng-container>
      <!-- End Search Form -->

    </div>

  </div>

</header><!-- End Header -->

<ng-content select=".head-content"></ng-content>



<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="footer-content">
    <div class="container">

      <div class="row g-5">
        <div class="col-12 col-lg-4">
          <h3 class="footer-heading">About ClintBlog</h3>
          <p>We're passionate about providing insightful content across diverse topics such as technology,
            entertainment, health, sports, and more. With a focus on quality and relevance, we strive to keep you
            informed about the latest trends and developments in each of our featured areas.</p>
          <p><a [routerLink]="['/about']" routerLinkActive="router-link-active" class="footer-link-more">Read More</a>
          </p>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-start justify-content-lg-center">
          <div>
            <h3 class="footer-heading">Navigation</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="/"><i class="bi bi-chevron-right"></i> Home</a></li>
              <li><a href="/news"><i class="bi bi-chevron-right"></i> Blog</a></li>
              <li><a href="/about"><i class="bi bi-chevron-right"></i> About us</a></li>
              <li><a href="/contact"><i class="bi bi-chevron-right"></i> Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-start justify-content-lg-center">
          <div>
            <h3 class="footer-heading">Categories</h3>
            <ul class="footer-links list-unstyled">
              <li (click)="navigateWithCategory(category.title)" *ngFor="let category of categories;  let i = index"><a
                  href=""><i class="bi bi-chevron-right"></i>{{ category.title }}</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-legal">
    <div class="container">

      <div class="row justify-content-between">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          <div class="copyright">
            © Copyright <strong><span>ClintBlog</span></strong>. All Rights Reserved
          </div>

        </div>

        <div class="col-md-6">
          <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
            <a class="twitter"><i class="bi bi-twitter"></i></a>
            <a class="facebook"><i class="bi bi-facebook"></i></a>
            <a class="instagram"><i class="bi bi-instagram"></i></a>
            <a class="google-plus"><i class="bi bi-skype"></i></a>
            <a class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>

      </div>

    </div>
  </div>

</footer>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>