<div class="d-lg-flex post-entry-2">
  <a [routerLink]="['/news/details/', post?.id]"  class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
    <img [src]="getImage(post?.image)" alt="" class="img-fluid">
  </a>
  <div>
    <div class="post-meta"><span class="date mt-1" style="color: blue;">{{ post?.category }}</span> 
      <span class="mx-1">&bullet;</span> <span>{{ convertDate(post?.created_at) }}</span></div>
    <h3><a  [routerLink]="['/news/details/', post?.id]">{{ post?.title }}..</a></h3>
    <!-- <h3><a  [routerLink]="['/news', post?.id]">{{ post?.title | slice:0:67 }}..</a></h3> -->
    <!-- <div [innerHTML]="post?.description | slice:0:285"></div> -->
  </div>
</div>
