<div class="post-entry-1">
  <div class="post-meta"><span class="date">{{ post?.category }}</span> 
    <span class="mx-1">&bullet;</span> <span>{{ post?.created_at }}</span></div>
  <!-- <h2 class="mb-2"><a href="single-post.html">{{ post?.title | slice:0:47 }}...</a></h2> -->
  <h2 class="mb-2"><a href="single-post.html">{{ post?.title }}...</a></h2>
  <span class="author mb-3 d-block">Jenny Wilson</span>
</div>

<!-- <div class="post-entry-1">
  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th
    '22</span></div>
<h2 class="mb-2"><a href="single-post.html">10 Life-Changing Hacks Every Working Mom Should Know</a></h2>
<span class="author mb-3 d-block">Jenny Wilson</span>
</div> -->