<app-admin-header></app-admin-header>
<!-- BEGIN: Content-->
<div class="app-content content">
   <div class="content-overlay"></div>
   <div class="content-wrapper">
      <div class="content-header row">
         <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Dashboard</h3>
            <div class="row breadcrumbs-top d-inline-block">
               <div class="breadcrumb-wrapper col-12">
                  <ol class="breadcrumb">
                     <li class="breadcrumb-item active">Dashboard
                     </li>
                  </ol>
               </div>
            </div>
         </div>
      </div>
      <div class="content-body">
         <section id="bank-cards" class="bank-cards">
            <div class="row match-height">
               <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                  <div class="card bank-card pull-up">
                     <div class="card-content">
                        <div class="card-body">
                           <div class="row">
                              <div class="col-6 text-left">
                                 <h3 class="mb-0">{{ tableCounts?.post_count ?? 0 }}</h3>
                                 <!-- <p class="text-light">Blog Posts</p> -->
                                 <a href="admin/blog">
                                    <h4 class="warning mt-1 text-bold-500">Blog posts <i
                                          class="fa fa-angle-double-right"></i></h4>
                                 </a>
                              </div>
                              <div class="col-6">
                                 <div class="float-right">
                                    <i class="fa fa-camera-retro" style="font-size: 30px;"></i>
                                    <!-- <canvas id="gold-chart" class="height-75"></canvas> -->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                  <div class="card bank-card pull-up">
                     <div class="card-content">
                        <div class="card-body">
                           <div class="row">
                              <div class="col-6 text-left">
                                 <h3 class="mb-0">{{ tableCounts?.category_count ?? 0 }}</h3>
                                 <!-- <p class="text-light">per Ounce</p> -->
                                 <a href="admin/category">
                                    <h4 class="info mt-1 text-bold-500">Categories <i
                                          class="fa fa-angle-double-right"></i></h4>
                                 </a>
                              </div>
                              <div class="col-6">
                                 <div class="float-right">
                                    <i class="fa fa-list-alt" style="font-size: 30px;"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                  <div class="card bank-card pull-up">
                     <div class="card-content">
                        <div class="card-body">
                           <div class="row">
                              <div class="col-6 text-left">
                                 <h3 class="mb-0">{{ tableCounts?.user_count ?? 0 }}</h3>
                                 <!-- <p class="text-light">per unit</p> -->
                                 <a href="admin/team-members">
                                    <h4 class="success mt-1 text-bold-500">Team members <i
                                          class="fa fa-angle-double-right"></i></h4>
                                 </a>
                              </div>
                              <div class="col-6">
                                 <div class="float-right">
                                    <i class="fa fa-users" style="font-size: 30px;"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <button class="btn btn-outline-primary" (click)="logout()">Logout</button>
      </div>
   </div>
</div>
<!-- END: Content-->