<link rel="apple-touch-icon" href="/assets/web/app-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="/assets/web/app-assets/images/ico/favicon.ico">
<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700"
    rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="/assets/web/app-assets/vendors/css/vendors.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/components.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/core/colors/palette-gradient.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/pages/single-page.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/assets/css/style.css">


<nav
    class="header-navbar navbar-expand-lg navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-lg-none mr-auto"><a
                        class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                            class="ft-menu font-large-1"></i></a></li>
                <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo"
                            alt="modern admin logo" src="/assets/web/app-assets/images/logo/logo.png">
                        <h3 class="brand-text">Modern</h3>
                    </a></li>
                <li class="nav-item d-none d-lg-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0"
                        data-toggle="collapse"><i class="toggle-icon ft-toggle-right font-medium-3 white"
                            data-ticon="ft-toggle-right"></i></a></li>
                <li class="nav-item d-lg-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                        data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand" href="#"><i
                                class="ficon ft-maximize"></i></a></li>
                    <li class="dropdown nav-item mega-dropdown d-none d-lg-block"><a class="dropdown-toggle nav-link"
                            href="#" data-toggle="dropdown">Mega</a>
                        <ul class="mega-dropdown-menu dropdown-menu row p-1">
                            <li class="col-md-4 bg-mega p-2">
                                <h3 class="text-white mb-1 font-weight-bold">Mega Menu Sidebar</h3>
                                <p class="text-white line-height-2">Candy canes bonbon toffee. Cheesecake dragée
                                    gummi bears chupa chups powder bonbon. Apple pie cookie sweet.</p>
                                <button class="btn btn-outline-white">Learn More</button>
                            </li>
                            <li class="col-md-5 px-2">
                                <h6 class="font-weight-bold font-medium-2 ml-1">Admin Panel</h6>
                                <ul class="row mt-2">
                                    <li class="col-6 col-xl-4"><a class="text-center mb-2 mb-xl-3"
                                            href="../ecommerce-menu-template" target="_blank"><i
                                                class="la la-shopping-cart font-large-1 mr-0"></i>
                                            <p class="font-medium-2 mt-25 mb-0">eCommerce</p>
                                        </a></li>
                                    <li class="col-6 col-xl-4"><a class="text-center mb-2 mb-xl-3"
                                            href="../travel-menu-template" target="_blank"><i
                                                class="la la-plane font-large-1 mr-0"></i>
                                            <p class="font-medium-2 mt-25 mb-0">Travel</p>
                                        </a></li>
                                    <li class="col-6 col-xl-4"><a class="text-center mb-2 mb-xl-3 mt-75 mt-xl-0"
                                            href="../hospital-menu-template" target="_blank"><i
                                                class="la la-stethoscope font-large-1 mr-0"></i>
                                            <p class="font-medium-2 mt-25 mb-0">Hospital</p>
                                        </a></li>
                                    <li class="col-6 col-xl-4"><a class="text-center mb-2 mt-75 mt-xl-0"
                                            href="../crypto-menu-template" target="_blank"><i
                                                class="la la-bitcoin font-large-1 mr-0"></i>
                                            <p class="font-medium-2 mt-25 mb-50">Crypto</p>
                                        </a></li>
                                    <li class="col-6 col-xl-4"><a class="text-center mb-2 mt-75 mt-xl-0"
                                            href="../support-menu-template" target="_blank"><i
                                                class="la la-tag font-large-1 mr-0"></i>
                                            <p class="font-medium-2 mt-25 mb-50">Support</p>
                                        </a></li>
                                    <li class="col-6 col-xl-4"><a class="text-center mb-2 mt-75 mt-xl-0"
                                            href="../bank-menu-template" target="_blank"><i
                                                class="la la-bank font-large-1 mr-0"></i>
                                            <p class="font-medium-2 mt-25 mb-50">Bank</p>
                                        </a></li>
                                </ul>
                            </li>
                            <li class="col-md-3">
                                <h6 class="font-weight-bold font-medium-2">Components</h6>
                                <ul class="row mt-1 mt-xl-2">
                                    <li class="col-12 col-xl-6 pl-0">
                                        <ul class="mega-component-list">
                                            <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                    href="component-alerts.html" target="_blank">Alert</a></li>
                                            <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                    href="component-callout.html" target="_blank">Callout</a></li>
                                            <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                    href="component-buttons-basic.html" target="_blank">Buttons</a>
                                            </li>
                                            <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                    href="component-carousel.html" target="_blank">Carousel</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-12 col-xl-6 pl-0">
                                        <ul class="mega-component-list">
                                            <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                    href="component-dropdowns.html" target="_blank">Drop Down</a>
                                            </li>
                                            <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                    href="component-list-group.html" target="_blank">List Group</a>
                                            </li>
                                            <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                    href="component-modals.html" target="_blank">Modals</a></li>
                                            <li class="mega-component-item"><a class="mb-1 mb-xl-2"
                                                    href="component-pagination.html" target="_blank">Pagination</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="#"><i
                                class="ficon ft-search"></i></a>
                        <div class="search-input">
                            <input class="input" type="text" placeholder="Explore Modern..." tabindex="0"
                                data-search="template-list">
                            <div class="search-input-close"><i class="ft-x"></i></div>
                            <ul class="search-list"></ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="active nav-item mt-2"><a href="admin/dashboard"><i class="la la-home"></i><span
                        class="menu-title" data-i18n="Crypto Dashboard">Crypto Dashboard</span></a>
            </li>

            <li class=" navigation-header" routerLinkActive="router-link-active"><span data-i18n="Crypto">Blog</span><i
                    class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right"
                    data-original-title="Crypto"></i>
            </li>
            <li class=""><a href="admin/add-blog-post"><i class="la la-list"></i><span class="menu-title"
                        data-i18n="">Add Blog Post</span></a>
            </li>
            <li class=""><a href="admin/blog"><i class="la la-list"></i><span class="menu-title"
                        data-i18n="Transactions">Blog Post</span></a>
            </li>
            <li class=""><a href="admin/category"><i class="la la-list"></i><span class="menu-title">Category</span></a>
            </li>

            <li class=" navigation-header"><span data-i18n="Crypto">Users</span><i class="la la-ellipsis-h"
                    data-toggle="tooltip" data-placement="right" data-original-title="Crypto"></i>
            </li>
            <!-- <li class=""><a href="admin/accounts"><i class="la la-list"></i><span class="menu-title"
                            data-i18n="Transactions">Accounts</span></a>
                </li> -->
            <li class=""><a href="admin/team-members"><i class="la la-list"></i><span class="menu-title"
                        data-i18n="Transactions">Team Members</span></a>
            </li>

            <li class=" navigation-header"><span data-i18n="Crypto">Auth</span><i class="la la-ellipsis-h"
                    data-toggle="tooltip" data-placement="right" data-original-title="Crypto"></i>
            </li>
            <li class=""><a href="crypto-transactions.html"><i class="la la-list"></i><span class="menu-title"
                        data-i18n="">Change Password</span></a>
            </li>
            <li class=""><a href=""><i class="la la-list"></i><span class="menu-title">Logout</span></a>
            </li>
        </ul>
    </div>
</div>


<ng-content select=".app-content"></ng-content>