<link rel="apple-touch-icon" href="/assets/web/app-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="/assets/web/app-assets/images/ico/favicon.ico">
<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700"
    rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="/assets/web/app-assets/vendors/css/vendors.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/components.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/core/colors/palette-gradient.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/css/pages/single-page.min.css">
<link rel="stylesheet" type="text/css" href="/assets/web/app-assets/assets/css/style.css">


<nav
    class="header-navbar navbar-expand-lg navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <!-- <li class="nav-item mobile-menu d-lg-none mr-auto"><a
                        class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                            class="ft-menu font-large-1"></i></a></li> -->
                <!-- <li class="nav-item mobile-menu d-lg-none mr-auto"><a
                        class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                            class="fa fa-bars font-large-1"></i></a></li> -->
                <li class="nav-item mobile-menu d-lg-none mr-auto">
                    <a type="button" class="btn text-white" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-bars font-large-1"></i>
                    </a>
                </li>
                <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo"
                            alt="modern admin logo" src="/assets/web/app-assets/images/logo/logo.png">
                        <h3 class="brand-text">Modern</h3>
                    </a></li>
                <!-- <li class="nav-item d-none d-lg-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0"
                        data-toggle="collapse">
                        <i class="toggle-icon ft-toggle-right font-medium-3 white" data-ticon="ft-toggle-right"></i>
                    </a></li>
                <li class="nav-item d-lg-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                        data-target="#navbar-mobile"><i class="fa fa-bars"></i></a></li> -->
            </ul>
        </div>
        <div class="navbar-container content">
           
        </div>
    </div>


</nav>




<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main mt-2" id="main-menu-navigation" data-menu="menu-navigation">
            <li [class]="checkActiveRoute('/admin/dashboard')?'active' : '' +' nav-item mt-2'"><a
                    href="admin/dashboard"><i class="la la-home"></i><span class="menu-title"
                        data-i18n="Crypto Dashboard">Dashboard</span></a>
            </li>

            <li class=" navigation-header" routerLinkActive="router-link-active"><span data-i18n="Crypto">Blog</span><i
                    class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right"
                    data-original-title="Crypto"></i>
            </li>
            <li [class]="checkActiveRoute('/admin/add-blog-post')?'active' : ''"><a href="admin/add-blog-post"><i
                        class="la la-list"></i><span class="menu-title" data-i18n="">Add Blog Post</span></a>
            </li>
            <li [class]="checkActiveRoute('/admin/blog')?'active' : ''"><a href="admin/blog"><i
                        class="la la-list"></i><span class="menu-title" data-i18n="Transactions">Blog Post</span></a>
            </li>
            <li [class]="checkActiveRoute('/admin/category')?'active' : ''"><a href="admin/category"><i
                        class="la la-list"></i><span class="menu-title">Category</span></a>
            </li>

            <li class=" navigation-header"><span data-i18n="Crypto">Users</span><i class="la la-ellipsis-h"
                    data-toggle="tooltip" data-placement="right" data-original-title="Crypto"></i>
            </li>
            <!-- <li class=""><a href="admin/accounts"><i class="la la-list"></i><span class="menu-title"
                            data-i18n="Transactions">Accounts</span></a>
                </li> -->
            <li [class]="checkActiveRoute('/admin/team-members')?'active' : ''"><a href="admin/team-members"><i
                        class="la la-list"></i><span class="menu-title" data-i18n="Transactions">Team Members</span></a>
            </li>

            <li class=" navigation-header"><span data-i18n="Crypto">Auth</span><i class="la la-ellipsis-h"
                    data-toggle="tooltip" data-placement="right" data-original-title="Crypto"></i>
            </li>
            <li [class]="checkActiveRoute('/admin/change-password')?'active' : ''"><a href="admin/change-password"><i
                        class="la la-list"></i><span class="menu-title" data-i18n="">Change Password</span></a>
            </li>
            <li class=""><a (click)="logout()"><i class="la la-list"></i><span class="menu-title">Logout</span></a>
            </li>
        </ul>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Menu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- modal content -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="admin/dashboard"><i class="fa fa-home mr-1"></i><span
                                class="menu-title" data-i18n="Crypto Dashboard">Dashboard</span></a></li>
                    <li class="list-group-item"><a
                            href="admin/add-blog-post"><i class="fa fa-volume-up mr-1"></i><span class="menu-title"
                                data-i18n="">Add Blog Post</span></a>
                    </li>
                    <li class="list-group-item"><a href="admin/blog"><i
                        class="fa fa-volume-up mr-1"></i><span class="menu-title" data-i18n="Transactions">Blog
                                Post</span></a>
                    </li>
                    <li class="list-group-item"><a href="admin/category"><i
                                class="fa fa-list mr-1"></i><span class="menu-title">Category</span></a>
                    </li>
                    <li class="list-group-item"><a href="admin/team-members"><i
                                class="fa fa-user mr-1"></i><span class="menu-title" data-i18n="Transactions">Team
                                Members</span></a>
                    </li>

                    <li class="list-group-item"><a
                            href="admin/change-password"><i class="fa fa-key mr-1"></i><span class="menu-title"
                                data-i18n="">Change Password</span></a>
                    </li>
                    <li class="list-group-item"><a (click)="logout()"><i class="fa fa-sign-out mr-1"></i><span
                                class="menu-title">Logout</span></a>
                    </li>
                </ul>
                <!-- modal content -->

            </div>
        </div>
    </div>
</div>




<ng-content select=".app-content"></ng-content>