<app-header>
  <main class="head-content" id="main">

    <section class="single-post-content mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
            <ng-container *ngIf="blogPost; else skeleton">
              <div class="single-post" style="text-align: start;">
                <div class="post-meta"><span class="date" style="color: blue;">{{ blogPost?.category }}</span> <span
                    class="mx-1">&bullet;</span>
                  <span>{{  convertDate(blogPost?.created_at) }}</span>
                </div>
                <h1 class="mb-5">{{ blogPost?.title }}</h1>

                <figure class="my-4">
                  <img [src]="'http://clintblog.com.ng/api/uploads/'+ blogPost?.image" alt="" class="img-fluid">
                  <figcaption class="mt-1" style="color: blue;">{{ blogPost?.title }}</figcaption>
                </figure>

                <div [innerHTML]="blogPost?.description"></div>
              </div>
            </ng-container>

            <ng-template #skeleton>
              <div class="single-post loading-skeleton" style="text-align: start;">
                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>
                  <span>Jul 5th '22</span>
                </div>
                <h1 class="mb-5">What is the son of Football Coach John Gruden, Deuce Gruden doing Now?</h1>



                <p>orem ipsum dolor sit, amet consectetur adipisicing elit. Ratione
                  officia sed, suscipit distinctio, numquam omnis quo fuga ipsam quis inventore voluptatum recusandae
                  culpa, unde doloribus saepe labore alias voluptate expedita? Dicta delectus beatae explicabo odio
                  voluptatibus quas.</p>

                <p>orem ipsum dolor sit, amet consectetur adipisicing elit. Ratione
                  officia sed, suscipit distinctio, numquam omnis quo fuga ipsam quis inventore voluptatum recusandae
                  culpa, unde doloribus saepe labore alias voluptate expedita? Dicta delectus beatae explicabo odio
                  voluptatibus quas.</p>

                <p>orem ipsum dolor sit, amet consectetur adipisicing elit. Ratione
                  officia sed, suscipit distinctio, numquam omnis quo fuga ipsam quis inventore voluptatum recusandae
                  culpa, unde doloribus saepe labore alias voluptate expedita? Dicta delectus beatae explicabo odio
                  voluptatibus quas.
                </p>

                <p>orem ipsum dolor sit, amet consectetur adipisicing elit. Ratione
                  officia sed, suscipit distinctio, numquam omnis quo fuga ipsam quis inventore voluptatum recusandae
                  culpa, unde doloribus saepe labore alias voluptate expedita? Dicta delectus beatae explicabo odio
                  voluptatibus quas.</p>
              </div>
            </ng-template>
            <!-- End Single Post Content -->


          </div>
          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">

              <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular"
                    aria-selected="true">Recent</button>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">

                <ng-container *ngIf="otherPost && otherPost.length; else otherPostSkeleton">
                  <div class="tab-pane fade show active" id="pills-popular" role="tabpanel"
                    aria-labelledby="pills-popular-tab">
                    <ng-container  *ngFor="let post of otherPost | slice:0:7" >
                      <app-post-five *ngIf="post?.id != postId" [post]="post"></app-post-five>
                    </ng-container>
                  </div>
                </ng-container>

                <ng-template #otherPostSkeleton>
                  <div class="loading-skeleton">
                  <div class="tab-pane fade show active" id="pills-popular" role="tabpanel"
                    aria-labelledby="pills-popular-tab">
                    <div class="post-entry-1 border-bottom">
                      <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>
                        <span>Jul 5th
                          '22</span>
                      </div>
                      <h2 class="mb-2"><a href="single-post.html">10 Life-Changing Hacks Every Working Mom Should
                          Know</a>
                      </h2>
                      <span class="author mb-3 d-block">Jenny Wilson</span>
                    </div>


                    <div class="post-entry-1 border-bottom">
                      <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>
                        <span>Jul 5th
                          '22</span>
                      </div>
                      <h2 class="mb-2"><a href="single-post.html">10 Life-Changing Hacks Every Working Mom Should
                          Know</a>
                      </h2>
                      <span class="author mb-3 d-block">Jenny Wilson</span>
                    </div>

                    <div class="post-entry-1 border-bottom">
                      <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>
                        <span>Jul 5th
                          '22</span>
                      </div>
                      <h2 class="mb-2"><a href="single-post.html">10 Life-Changing Hacks Every Working Mom Should
                          Know</a>
                      </h2>
                      <span class="author mb-3 d-block">Jenny Wilson</span>
                    </div>

                    <div class="post-entry-1 border-bottom">
                      <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>
                        <span>Jul 5th
                          '22</span>
                      </div>
                      <h2 class="mb-2"><a href="single-post.html">10 Life-Changing Hacks Every Working Mom Should
                          Know</a>
                      </h2>
                      <span class="author mb-3 d-block">Jenny Wilson</span>
                    </div>

                  </div>

                </div>
                </ng-template>

              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
</app-header>