<app-admin-header></app-admin-header>
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">Change Password</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="admin/dashboard">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">Change Password
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="content-header-right col-md-6 col-12">
                <div class="btn-group float-md-right">
                    <button class="btn btn-info dropdown-toggle mb-1" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Action</button>
                    <div class="dropdown-menu arrow"><a class="dropdown-item" href="#"><i
                                class="fa fa-calendar-check mr-1"></i> Calender</a><a class="dropdown-item" href="#"><i
                                class="fa fa-cart-plus mr-1"></i> Cart</a><a class="dropdown-item" href="#"><i
                                class="fa fa-life-ring mr-1"></i> Support</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i
                                class="fa fa-cog mr-1"></i> Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="all-transactions">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Change Password</h4>
                            </div>
                            <div class="card-content mt-1">

                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        @if(message){
                                        <div [class]="displayType == 'success'?'alert alert-success alert-dismissible fade show': 'alert alert-danger alert-dismissible fade show'"
                                            role="alert">
                                            {{ message }}.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        }

                                        <form [formGroup]="form" (ngSubmit)="send()" enctype="multipart/form-data">
                                            <div class="form-body">

                                                <div class="row">

                                                    <div class="col-12 col-lg-4 form-group">
                                                        <label for="companyName">Password</label>
                                                        <input formControlName="old_password" type="password"
                                                            id="companyName" class="form-control"
                                                            placeholder="Password">
                                                        <div
                                                            *ngIf="!form.controls['old_password'].valid  && submitAttempt">
                                                            <small class="text-danger">password field is
                                                                required.</small>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 col-lg-4 form-group">
                                                        <label for="companyName">New Password</label>
                                                        <input formControlName="new_password" type="password"
                                                            id="companyName" class="form-control"
                                                            placeholder="New Password">
                                                        <div
                                                            *ngIf="!form.controls['new_password'].valid  && submitAttempt">
                                                            <small class="text-danger">New Password field is
                                                                required.</small>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 col-lg-4 form-group">
                                                        <label for="companyName">Confirm New Password</label>
                                                        <input formControlName="confirm_password" type="password"
                                                            id="companyName" class="form-control"
                                                            placeholder="Confirm Password">
                                                        <div
                                                            *ngIf="!form.controls['confirm_password'].valid  && submitAttempt">
                                                            <small class="text-danger">Confirm Password field is
                                                                required.</small>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="form-actions">
                                                <app-submit-button title="Save Post" [busy]="busy"></app-submit-button>
                                            </div>
                                        </form>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- END: Content-->